.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.content .header {
    padding: 20px 0;
    color: #092327;
    text-align: center;
}

.content .header::after {
    content: "";
    margin: 0 auto;
    border-bottom: 3px solid #0bdcd8;
    display: block;
    height: 5px;
    width: 130px;
}

.content .town-form {
    margin: 50px 0 20px;
}

.content .town-form .town-label {
    font-size: 1.5rem;
    color: #092327;
}

.content .town-form .town-choices {
    padding: 5px;
    border: 1px solid #0E1116;
    border-radius: 5px;
    width: 150px;
    margin: 0 15px 0 5px;
    color: #092327;
}

.content .town-form button {
    padding: 5px 10px;
    border: 1px solid #00B1CC;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.content .town-form button:hover {
    background: #e6ebf1;
}

.content .weather-info {
    margin: 60px 0 100px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .weather-info .location {
    align-self: flex-start;
    text-align: left;
}

.content .weather-info .weather-icon-and-degrees {
    display: flex;
    flex-direction: row;
}

.content .weather-info .weather-icon-and-degrees .icon img {
    width: 250px;
}

.content .weather-info .weather-icon-and-degrees .degrees {
    --padding-top: 30px;
    --big-degrees: 4rem;
    padding: var(--padding-top) 0 0;
    font-size: var(--big-degrees);
    position: relative;
}

.content .weather-info .weather-icon-and-degrees .degrees .celsius {
    font-size: calc(var(--big-degrees) - 2rem);
    position: absolute;
    top: calc(var(--padding-top) + 8px);
}

.content .weather-info .condition {
    margin-top: -50px;
    font-size: 2rem;
}

.content .weather-info .feels-like {
    --medium-degrees: 1.5rem;
    font-size: var(--medium-degrees);
    position: relative;
}

.content .weather-info .feels-like .celsius {
    position: absolute;
    font-size: calc(var(--medium-degrees) - 0.7rem);
    top: 3px;
}

.content .weather-info .additional {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.content .weather-info .additional .wind {
    display: flex;
    flex-direction: column;
}

.content .weather-info .additional .wind i {
    margin-bottom: 5px;
}

.content .weather-info .additional .sunrise {
    margin-top: -2px;
}

.content .weather-info .additional .humidity i {
    align-self: center;
}

.content .weather-info .additional .humidity h4 {
    margin-top: 7.5px;
}

.content .weather-info .additional .sunrise,
.content .weather-info .additional .humidity {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.content .weather-info .additional .sunrise img {
    align-self: center;
    width: 25px;
    height: auto;
}

.content .weather-info .additional .sunset {
    display: flex;
    flex-direction: column;
    margin-top: -5px;
}

.content .weather-info .additional .sunset h4 {
    margin-top: -1px;
}

.content .weather-info .additional .sunset img {
    width: 35px;
    height: auto;
}

.content .weather-info .additional .visibility {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.content .weather-info .additional .visibility i {
    align-self: center;
    margin-top: 2px;
}

.content .weather-info .additional .visibility h4 {
    margin-top: 6px;
}



