/* Basic styling */
* {
    margin: 0;
    padding: 0;
}

nav {
    background: white;
    padding: 0 15px 0 7px;
    width: 97.5%;
    position: relative;
    top: 0;
    z-index: 5;
    -webkit-box-shadow: 0px 46px 165px -60px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 46px 165px -60px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 46px 165px -60px rgba(0, 0, 0, 0.75);
}

.menu a {
    color: grey;
    text-decoration: none;
}

.menu,
.submenu {
    list-style-type: none;
    z-index: 999;

}

.logo {
}

.logo img {
    width: 54px;
    height: 50px;
}

.logo .logo-text {
    position: absolute;
    top: 38px;
    left: 56px;
    font-family: Century;
    color: grey;
    font-size: 1.2rem;
}

.logo .logo-small-text {
    font-size: .7rem;
    position: absolute;
    left: 124px;
    top: 48px;
}

.item {
    padding: 10px;
}

.item.button {
    padding: 9px 5px;
}

.item:not(.button) a:hover,
.item a:hover::after {
    color: #b0b0b0;
    cursor: pointer;
}

/* Mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li a {
    display: block;
    padding: 15px 5px;
}

.menu li.subitem a {
    padding: 15px;
}

.toggle {
    order: 1;
    font-size: 20px;
}

.item.button {
    order: 2;
}

.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}

.active .item {
    display: block;
}

.subitem.flag {
    display: inline-block;
    text-align: center;
}

.button.secondary {
    /* divider between buttons and menu links */
    border-bottom: 1px #fff solid;
}

/* Submenu up from mobile screens */
.submenu {
    display: none;
}

.submenu-active .submenu {
    display: block;

}

.has-submenu i {
    font-size: 12px;
}

.fa-chevron-down {
    padding-left: 5px;
}

.subitem a {
    padding: 10px 15px;
}

.submenu-active {
    border: 1px solid white;
    border-radius: 3px;
}

/* Tablet menu */
@media all and (min-width: 900px) {
    .menu {
        justify-content: center;
    }

    .logo {
        flex: 1;
    }

    .item.button {
        width: auto;
        order: 2;
        display: block;
    }

    .toggle {
        flex: 1;
        text-align: right;
        order: 2;
    }

    /* Button up from tablet screen */
    .menu li.button a {
        padding: 10px 15px;
        margin: 5px 0;
    }

    .button a {
        border: 1px #00B1CC solid;
        border-radius: 5px;
    }

    .button.secondary {
        border: 0;
    }

    .button.secondary a {
        background: transparent;
        border: 1px grey solid;
        border-radius: 5px;
    }

    .button a:hover {
        text-decoration: none;
    }

    .button a:hover {
        background: #e6ebf1;
    }
}

/* Desktop menu */
@media all and (min-width: 1250px) {

    .submenu.flag {
        width: 130px;
    }

    .submenu.courses {
        width: 130px;
    }

    .menu {
        align-items: center;
        flex-wrap: nowrap;
        background: none;
    }

    .logo {
        order: 0;
    }

    .item {
        order: 1;
        position: relative;
        display: block;
        width: auto;
    }

    .submenu-active .submenu {
        display: block;
        position: absolute;
        left: 0;
        top: 68px;
        background: rgb(0, 0, 128);
    }

    .toggle {
        display: none;
    }

    .submenu-active {
        border-radius: 0;
    }

    .submenu-active {
        border: none;
    }
}
