.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    gap: 20px;
}

.content .gif {
    display: flex;
    justify-content: center;
}

.content .gif img {
    width: 50%;
    height: auto;
}

.content .text {
    font-weight: bold;
    font-size: 1.7vw;
    text-align: center;
    padding: 0 10px;
}

.content .button a {
    text-decoration: none;
    padding: 10px;
    border: 1px solid cyan;
    border-radius: 5px;
    color: grey;
    min-font-size: 2vw;
}

.content .button a:hover {
    background: lightgray;

}

@media (max-width: 1000px) {
    .content .text {
        font-size: 2.5vw;
    }

    .content .button a {
        min-font-size: 1.3vw;
    }
}