{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'styles/news/update.css' %}">
    <div class="content">
        <h1 class="header">Редактиране на новина</h1>
        <form class="update-news-form" action="{% url 'edit news' pk=object.pk %}" method="post"
              enctype="multipart/form-data">
            {% for field in form %}
                {% if field.label == 'Снимка' and object.photo %}
                    <div class="input-box with-photo">
                        <label for="">{{ field.label }}</label>
                        <div class="photo">
                            <div class="photo">
                                <div class="currently">
                                    В момента: <a target="_blank" href="{{ object.photo.url }}">Виж</a>
                                </div>
                                <div class="clear">

                                    <label for="photo-clear_id">Изчисти: </label>
                                    <input type="checkbox" name="photo-clear" id="photo-clear_id">
                                </div>
                                <div class="change">
                                    Промени:
                                <input type="file" name="photo" accept="image/*" id="id_photo">

                                </div>

                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="input-box">
                        <label for="">{{ field.label }}</label>
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% endif %}
            {% endfor %}

            <button>Редактирай</button>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}