{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'styles/mains/profile.css' %}">
    <div class="profile-container">
        <div class="header-container">
            <div class="image-and-more">
                <div class="profile-picture">
                    {% if user.profile_picture %}
                        <img src="{{ user.profile_picture.url }}" alt="profile image"/>
                    {% else %}
                        <img src="{% static 'images/profile/default-profile-image.png' %}" alt="profile picture">
                    {% endif %}
                </div>
                <div class="more">
                    <h2>{{ user.username }}</h2>

                    <h4>Име:
                        {% if user.get_full_name %}
                            {{ user.get_full_name }}</h4>
                        {% endif %}

                    <h4>Възраст:
                        {% if user.age %}
                            {{ user.age }} години</h4>
                        {% endif %}

                    <h4>Град/село:
                        {% if user.town %}
                            {{ user.town }}</h4>
                        {% endif %}
                </div>
            </div>
            {% if user.user == request.user %}
                <div class="buttons">
                    <a href="{% url 'profile update' pk=user.pk %}"><i class="fa-regular fa-pen-to-square"></i>
                        Редактирай
                    </a>
                    <a class="exit" href="{% url 'log out' %}"><i class="fa-solid fa-right-from-bracket"></i>
                        Излез
                    </a>
                    <a class="delete" href="{% url 'profile delete' pk=user.pk %}"><i class="fa-solid fa-trash"></i>
                        Изтрий
                    </a>
                </div>
            {% elif request.user.is_superuser %}
                <div class="buttons">
                    <a href="{% url 'profile update' pk=user.pk %}"><i class="fa-regular fa-pen-to-square"></i>
                        Редактирай
                    </a>
                    <a class="delete" href="{% url 'profile delete' pk=user.pk %}"><i class="fa-solid fa-trash"></i>
                        Изтрий
                    </a>
                </div>
            {% elif request.user.is_staff %}
                <div class="buttons">
                    <a href="{% url 'profile update' pk=user.pk %}"><i class="fa-regular fa-pen-to-square"></i>
                        Редактирай
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}